* {
    box-sizing: border-box;
}
body{
    padding: 16px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /* padding: 15px; */
    border: 1px solid white;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.m_button{
    padding: 8px;
    font-weight: 900;
    text-align: center;
    border-radius: 4px;
}

.m_button:hover{
    background: #efefef;
}

#main_board td{
    width: 64px;
    height: 64px;
    background: #eee;
    border-radius: 4px;
}

#main_board td:hover{
    filter: brightness(80%);
}

.center-horizontally{
    margin: 0 auto;
}


#textarea_div textarea{
    width:100%;
    height:384px;
}

#side_bar div{
    font-size: 36px;
    text-shadow: 2px 2px 8px #ccc;
    padding: 8px;
    text-align: center;
}

#side_bar div:hover{
    text-shadow: 2px 2px 10px #666;
}

#red_button{
    color: #FF3B6B;
}
#blue_button{
    color: #473DE8;
}
#green_button{
    color: #2EFFC6;
}
#yellow_button{
    color: #E8A22A;
}

.button_selected{
    background: #ddd;
}

.cell-red{
    background: #FF3B6B;
}
.cell-blue{
    background: #473DE8;
}
.cell-green{
    background: #2EFFC6;
}
.cell-yellow{
    background: #E8A22A;
}